body{
    background-color: white;
}
div{
    background-color: #eee;
    margin: auto;
    text-align: center;
}
a{
    display: flex;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
}
h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.food{
    font-size: 25px;
    display: block;
    text-align: center;
    padding: 10px;
    margin: 10px;
}
